.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.statsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}